.justify{
    text-align: justify;
    text-justify: inter-word;
}

.pointer{
  cursor: pointer;
}

.myButton {
  background:url(/img/trash.png) no-repeat;
  cursor:pointer;
  width: 40px;
  height: 40px;
  border: none;
}